---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title | xmlEscape }}</title>
  <subtitle>{{ site.description | xmlEscape }}</subtitle>
  <link href="{{ '/' | absoluteUrl(site.url) }}" />
  <link href="{{ '/feed.xml' | absoluteUrl(site.url) }}" rel="self" />
  <id>{{ '/' | absoluteUrl(site.url) }}</id>
  <updated>{{ collections.posts[0].date | isoDate }}</updated>
  {% for post in collections.posts %}
    <entry>
      <title>{{ post.data.title | xmlEscape }}</title>
      <link href="{{ post.url | absoluteUrl(site.url) }}" />
      <id>{{ post.url | absoluteUrl(site.url) }}</id>
      <updated>{{ post.date | isoDate }}</updated>
      <summary>{{ post.data.description | xmlEscape }}</summary>
    </entry>
  {% endfor %}
</feed>
